/* Pagination */
.page-link {
  cursor: pointer;
}

/* Table column widths for proper alignment */
.table thead th,
.table tbody td {
  vertical-align: middle;
}

.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
  width: 20%;
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
  width: 15%;
}

.table thead th:nth-child(3),
.table tbody td:nth-child(3) {
  width: 12%;
  white-space: nowrap;
}

.table thead th:nth-child(4),
.table tbody td:nth-child(4) {
  width: 33%;
}

.table thead th:nth-child(5),
.table tbody td:nth-child(5) {
  width: 20%;
  white-space: nowrap;
}
